.reveal div {
  padding: 2.5cm, 0.5cm;
}

.reveal p span.slide-title {
  padding: 4px 15px;
  border-radius: 15px;
  color: #eee !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
  letter-spacing: -0.03em !important;
  font-family: "Montserrat", Impact, sans-serif !important;
}

.reveal section h1 {
  font-size: 1.45em;
  letter-spacing: 1.2pt;
  font-wight: bold;
}

.reveal section h2 {
  font-size: 1.35em;
  letter-spacing: 1.2pt;
  color: #de935f;
  font-wight: bold;
}

.reveal section h3 {
  font-size: 1.25em;
  letter-spacing: 1.2pt;
  color: #de935f;
}

.reveal section h4 {
  font-size: 1.15em;
  letter-spacing: 1.2pt;
}

.reveal section p {
  font-size: 25px;
  line-height: 32pt;
  letter-spacing: 1pt;
}

.reveal section ul {
  font-size: 26px;
  line-height: 35pt;
  letter-spacing: 1.4pt;
  list-style-type: square;
}

.reveal section ol {
  font-size: 26px;
  line-height: 35pt;
  letter-spacing: 1.4pt;
}

.reveal section img {
  transform: scale(0.7);
}

.reveal section code {
  font-family: Consolas;
  font-size: 18px;
  max-height: 600px;
}

.reveal blockquote {
  display: block;
  position: relative;
  margin: 20px auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0);
}
